h1 {
  color: red;
}

h2 {
  color: tomato;
  font-style: italic;
}
ol {
  color: brown;
  line-height: 40px;
}
.lt {
  text-decoration: line-through;
  font-weight: bold;
}
.bg {
  background-color: yellow;
  font-weight: bold;
}
#forth {
  text-decoration: underline;
  font-style: italic;
}
ul {
  color: brown;
  letter-spacing: 5px;
}
p {
  color: brown;
}
a {
  text-decoration: none;
  color: red;
  font-style: italic;
  background-color: yellow;
}
